<!DOCTYPE html>
<html>
<head>
<title>IR DEMO</title>
</head>

<body>
	<h1>Make Predictions</h1>
	<form action="http://localhost:5000/predict" method="post">
		<input type="text" name="experience" placeholder="Experience" required="required" />
        <input type="text" name="test_score" placeholder="Test Score" required="required" />
		<input type="text" name="interview_score" placeholder="Interview Score" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
	</form>

	 <br>
   <br>
   {{ prediction_text }}
</body>
</html>